#title {
    color: coral;
    /* text-align: center; */
    position: sticky;
    top: 10px;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
#navlist{
    display: flex;
    gap: 20px;
}

.h1-font-size{
    font-style: 44px;
}

#box{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 2px solid salmon;
    /* padding: 200px; */
    padding-right: 30px;
    margin: 100px;
}

.position-demo{
    border: 2px dotted #0000;
    height: 200px;
    position: relative;
}

.position-demo button {
    padding: 8px 16px;
    font-size: 24px;
    background-color: aqua;
}

#btn-1{
    background-color: red;
    font-size: 14px;
    position: absolute;
    left: 10px;
    top: 5px;
}

#parrent{
    display: flex;
    /* gap: 20px; */
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
}

.child{
    width: 200px;
    height: 100px;
    background-color: blueviolet;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item{
    background-color: cornflowerblue;
    padding: 20px;
    color: aliceblue;
    border-radius: 8px;
}

.feature{
    grid-column:1/ span 2;
}

.tall{
    grid-row: span 2;
}

@media (max-width: 425px) {
    .grid-item{
        background-color: red;
    }
    .h1-font-size{
        font-size: 24px;
    }
    .grid-container{
grid-template-columns: repeat(1, 1fr);
    }
    .feature{
        grid-column: span 1;
    }
    .tall{
        grid-row: span 1;
    }
}